<!doctype html>
<html lang="en" style="background-color: lightgray">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Tourism Recommendation</title>
    <style>
        .my-row {
            height: 50px;
        }

        .my-body {
            background-color: lightgray;
        }

        .my-card-body {
            text-align: center;
        }

    </style>

</head>
<body class="my-body">
<div class="container justify-content-center">
    <div class="row my-row"></div>
            <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
    <div class="row my-row"></div>

            <div class="card text-center text-white bg-success">
<!--                <div class="card-header">Thank you for your participation.</div>-->
                <div class="card-body">
                    <!--<h5 class="card-title">Introduction</h5>-->
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Thank you for taking the time to complete this survey. We truly value the information you have provided. </h5>
                            <h5 class="card-title">If you have any comments on the survey or the project, please feel free to contact via email: s.najafian@tudelft.nl.</h5>
                        </div>
                    </div>
<!--                    <div class="row my-row">-->
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="card text-center text-white bg-success">
                                <div class="card-body my-card-body">
                                    <h5 class="card-text"><strong>Please enter following completion code manually in the Prolific app.</strong></h5>
                                    <h5><strong>787AF1C4</strong></h5>
<!--                                        <a href="https://app.prolific.co/submissions/complete?cc=13ED5B49">Press on this Prolific Completion Link</a></h5>-->
<!--                                    <div class="row my-row"></div>-->
                                </div>
                                <div class="col-auto">
                            <input type="hidden" name="uuid" value={{uuid}}>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-row">

                </div>

                    </div>
                </div>
            </div>
</div>
<!--</div>-->
            <!--<div class="row my-row">-->
            <!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>