<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
</head>
<body>

<ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>

  <head><meta charset="UTF-8"><style type="text/css">td{padding-right:15px;}</style></head>



  <body><div class="wDYxhc" lang="en-NL" data-md="50" data-hveid="CCkQAA" data-ved="2ahUKEwj3nbarsLTvAhXP0aQKHc8MDCAQkCkwGHoECCkQAA">&nbsp;</div>



  <div class="xsZWvb EfDVh wDYxhc" lang="en-NL" data-attrid="kc:/location/location:address" data-md="1002" data-hveid="CD4QAA" data-ved="2ahUKEwj3nbarsLTvAhXP0aQKHc8MDCAQkCkwGnoECD4QAA">



  <div class="Z1hOCe"><table style="width: 535px;"><tbody><tr><td style="width: 148px;">



  <img src="http://145.100.59.72:8080/images/oriental.png" alt="" width="200" height="100" /></td><td style="width: 371px; text-align: justify;"><strong>Oriental City, </strong> bustling multi-floor Cantonese restaurant serving fresh seafood specials & a vast choice of dim sum.<span style="background-color: #ffffff;"><a href="http://www.oriental-city.com/" target="_blank" rel="noopener noreferrer">Read more</a></span>&nbsp;</td></tr></tbody></table></div></div></body>


  </li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>


</body>
</html>