<!doctype html>
<html lang="en" style="background-color: lightgray">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Tourism Recommendation</title>
    <style>
        .my-row {
            height: 10px;
        }

        .my-body {
            background-color: lightgray;
        }

        .my-card-body {
            text-align: center;
        }

    </style>

</head>
<body class="my-body">
<div class="container justify-content-center">
            <div class="card text-white bg-secondary">
                <div class="card-header"><h5>Welcome to the Study</h5></div>
                <div class="card-body">
                    <!--<h5 class="card-title">Introduction</h5>-->
                    <div class="row">
                        <div class="col">
                            <p>Thank you in advance for taking the time to read this.
We are a group of researchers at the Technical University of Delft in the Netherlands and Clemson University in the US, who are looking at how to recommend places of interest to groups of tourists. In this study, you will be presented with an explanation for a tourist group recommendation (the recommendation is based on software that suggests places to a group of people based on their preferences). The recommendation comes with personal information about you and two group members. This will not be your actual information, but please imagine that it is correct.
</p>
                            <p>
                                You are going to be chatting about hypothetical places to visit and indicating how much information you are OK to share in your group. It included two chat windows, one is a private chat window between you and the system bot named TouryBot, and the second public chat window between all group members together and with the TouryBot. <strong>The participant should follow the instructions during the chat and should not refresh the page.</strong>
                            </p>
                            <p>
                                <strong>The study should take you about 14 minutes to complete.</strong>
                            </p>
                            <p>
                                Your responses will be confidential and we do not collect identifying information, such as your name or email address.
Your participation in this research is voluntary. You have the right to withdraw at any point during the study. The Principal Investigator of this study can be contacted at "s.najafian@tudelft.nl".
By clicking the link below "Start with the Study", you acknowledge: Your participation in the study is voluntary. You are at least 18 years of age. You are aware that you may choose to terminate your participation at any time for any reason.
                            </p>
                        </div>
                    </div>
                    <div class="row my-row">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="card text-white">
                                <div class="card-body my-card-body">
                                    <input type="hidden" name="pid" value={{PROLIFIC_PID}}>
                                    <h2 class="card-text"><strong><a href={{add}}>Start with the Study</a></strong></h2>
                                    <div class="row my-row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-row">
                    </div>
                </div>
            </div>
</div>
<!--</div>-->
            <!--<div class="row my-row">-->
            <!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>